<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div align="center">
    <h1>Edit form</h1>
    <form form th:method="PATCH" th:action="@{/users/{id}/edit(id=${user.getId()})}" th:object="${user}">
        <table>
            <tr>
                <td>Name</td>
                <td><label>
                    <input type="text" th:field="*{name}" name="name"/>
                </label>
            </tr>

            <tr>
                <td>Last name</td>
                <td><label>
                    <input type="text" th:field="*{lastName}" name="lastName"/>
                </label>
            </tr>

            <tr>
                <td>Email</td>
                <td><label>
                    <input type="text" th:field="*{email}" name="email"/>
                </label>
            </tr>
        </table>
        <input type="submit" value="update">

    </form>

</div>

</body>
</html>