<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>

</head>
<body>
<div align="center"><h1> Tacos and burritos lovers </h1></div>
<table align="center">
    <!--    <table>-->
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td><a th:href="@{/templates/users/{id}(id=${user.getId()})}">Profile</a></td>


    </tr>
    </tbody>
</table>
</br>

<div align="center">
    <p><a th:href="@{/templates/users/new}">Add new user</a></p>
</div>
</body>
</html>